!!!
%html{ ng: { app: "myBlog" } }
  %head
    %title Angular on Cuba
    %link{ href: "/vendor/bootstrap/dist/css/bootstrap.css", rel: "stylesheet" }
    %link{ href: "/vendor/fontawesome/css/font-awesome.css", rel: "stylesheet" }
    %link{ rel: "stylesheet", href: "/stylesheets/style.css" }
    %base{ href: "/admin/" }

    %script{ src: "/vendor/angular/angular.js" }
    %script{ src: "/vendor/angular-animate/angular-animate.js" }
    %script{ src: "/vendor/angular-resource/angular-resource.js" }
    %script{ src: "/vendor/angular-ui-router/release/angular-ui-router.js" }
    %script{ src: "/vendor/marked/lib/marked.js" }
    %script{ src: "/js/app/admin.js" }
    %script{ src: "/js/app/controllers/admin/AdminController.js" }
    %script{ src: "/js/app/controllers/admin/AdminArticlesIndexController.js" }
    %script{ src: "/js/app/controllers/admin/AdminArticlesNewController.js" }
    %script{ src: "/js/app/controllers/admin/AdminArticlesEditController.js" }
    %script{ src: "/js/app/directives/ei-article-editor.js" }
    %script{ src: "/js/app/directives/ei-marked.js" }
    %script{ src: "/js/app/directives/ei-tags.js" }
    %script{ src: "/js/app/directives/ei-click-to-edit.js" }
    %script{ src: "/js/app/factories/admin/Article.js" }

  %body{ ng: { controller: 'AdminController' } }
    #loading{ ng: { show: 'loading' } }
      .loading-box
        %i.fa.fa-spinner.fa-spin
        Loading…
    .container
      = content

    - Dir["views/admin/js_partials/**/*.html.haml"].each do |path|
      - view = path.sub(/^views\/admin\/(.+)\.haml$/, '\1')
      %script{ type: "text/ng-template", id: "/admin/#{view}" }
        = partial view
