!!!
%html{ ng: { app: "myBlog" } }
  %head
    %title Angular on Cuba
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet" }
    %link{ href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css" }
    %link{ rel: "stylesheet", href: "/stylesheets/style.css" }
    %base{ href: "/admin/" }

    %script{ src: "/vendor/angular/angular.js" }
    %script{ src: "/vendor/angular-animate/angular-animate.js" }
    %script{ src: "/vendor/angular-resource/angular-resource.js" }
    %script{ src: "/vendor/angular-ui-router/release/angular-ui-router.js" }
    %script{ src: "/vendor/marked/lib/marked.js" }
    %script{ src: "/js/app/app.js" }
    %script{ src: "/js/app/controllers/AdminController.js" }
    %script{ src: "/js/app/controllers/ArticlesIndexController.js" }
    %script{ src: "/js/app/controllers/ArticlesNewController.js" }
    %script{ src: "/js/app/directives/ei-article-editor.js" }
    %script{ src: "/js/app/directives/ei-marked.js" }
    %script{ src: "/js/app/factories/Article.js" }

  %body{ ng: { controller: 'AdminController' } }
    #loading{ ng: { show: 'loading' } }
      .loading-box
        %i.fa.fa-spinner.fa-spin
        Loading…
    .container
      = content
