!!!
%html{ ng: { app: "myBlog" } }
  %head
    %title Angular on Cuba
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" }
    %link{ href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css" }
    %link{ rel: "stylesheet", href: "/stylesheets/style.css" }
    %base{ href: "/admin/" }

    %script{ src: "/vendor/angular/angular.js" }
    %script{ src: "/vendor/angular-ui-router/release/angular-ui-router.js" }
    %script{ src: "/js/app/app.js" }
  %body
    .container
      = content
