$primary-color: rgb(70, 201, 185);

@import 'ei-editor';
@import 'ei-marked';
@import 'ei-tags';
@import 'ei-click-to-edit';



h1, h2, h3, h4, h5, h6{
  margin-top:0;
}

.label-default {
  background-color: #bbb;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .loading-box {
    background: rgba(2, 173, 140, 0.58);
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 130px;
    color: white;
    border-radius: 0 0 5px 5px;
  }
}

.help{
  font-size: 11px;
  margin-bottom: 10px;
  ul{
    li{
      cursor: pointer;
      padding: 7px 14px;
      &.active{
        background: rgb(70, 201, 185);
        border-radius: 3px;
        color: white;
      }
    }
  }
}

.articles-index{
  .header{
    margin:40px 0;
  }
  .article{
    .date{
      text-transform: uppercase;
      font-size: 16px;
      color:#aaa;
      margin-bottom: 10px;
    }
  }
  .search{
    margin-bottom: 30px;
  }
}


.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }