.ei-editor
  .help.text-right
    %ul.list-inline
      %li{ ng: { click: "togglePreview()", class: "{active: preview}" } }
        %i.fa.fa-eye
        Markdown Preview
      %li{ ng: { click: "toggleHelp()", class: "{active: showHelp}" } }
        %i.fa.fa-paragraph
        Markdown Help
  %div{ ng: { show: "preview" } }
    %ei-marked{ preview: "preview", "to-convert" => "content", ng: { show: "preview" } }
  %div{ ng: { hide: "preview" } }
    %textarea.form-control{ ng: { model: "content", trim: "false" }, rows: "12", placeholder: "Article content" }

    .ei-markdown-help{ ng: { class: "{visible: true}", show: "showHelp" } }
      %h2 Markdown Help
      %div{ ng: { repeat: "(title, hints) in mdHints" }}
        %h3 {{ title }}
        %ul
          %li{ ng: { repeat: 'hint in hints' } }
            %a.insert{ href: true, ng: { click: "insert(hint)" } } insert
            {{hint.syntax}}
