.ei-markdown-help {
  display: none;

  &.visible {
    display: block;
  }

  &.ng-hide-add {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    opacity: 1;

    &.ng-hide-add-active {
      opacity: 0;
    }
  }

  &.ng-hide-remove {
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    opacity: 0;


    &.ng-hide-remove-active {
      opacity: 1;
    }
  }
}
