$primary-color: rgb(70, 201, 185);

@import 'ei-editor';
@import 'ei-marked';
@import 'ei-tags';



h1, h2, h3, h4, h5, h6{
  margin-top:0;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .loading-box {
    background: #f9edbe;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 4px 0;
    text-align: center;
    width: 110px;
  }
}

.help{
  font-size: 11px;
  margin-bottom: 10px;
  ul{
    li{
      cursor: pointer;
      padding: 7px 14px;
      &.active{
        background: rgb(70, 201, 185);
        border-radius: 3px;
        color: white;
      }
    }
  }
}

.articles-index{
  .header{
    margin:40px 0;
  }
  .articles{

  }
}
