!!!
%html{ ng: { app: "myBlog" } }
  %head
    %title Angular on Cuba
    %link{ href: "/vendor/bootstrap/dist/css/bootstrap.css", rel: "stylesheet" }
    %link{ href: "/vendor/fontawesome/css/font-awesome.css", rel: "stylesheet" }
    %base{ href: "/" }

    %script{ src: "/vendor/angular/angular.js" }
    %script{ src: "/vendor/angular-animate/angular-animate.js" }
    %script{ src: "/vendor/angular-resource/angular-resource.js" }
    %script{ src: "/vendor/angular-ui-router/release/angular-ui-router.js" }
    %script{ src: "/js/app/blog.js" }
    %script{ src: "/js/app/controllers/blog/ArticlesIndexController.js" }
    %script{ src: "/js/app/factories/blog/Article.js" }
  %body
    .container
      = content

    - render_partials "views/blog/js_partials/**/*.html.haml"
