!!!
%html{ ng: { app: "myBlog" } }
  %head
    %title Angular on Cuba
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet" }
    %base{ href: "/" }

    %script{ src: "/vendor/angular/angular.js" }
    %script{ src: "/vendor/angular-animate/angular-animate.js" }
    %script{ src: "/vendor/angular-resource/angular-resource.js" }
    %script{ src: "/vendor/angular-ui-router/release/angular-ui-router.js" }
    %script{ src: "/js/app/blog.js" }
    %script{ src: "/js/app/controllers/blog/ArticlesIndexController.js" }
    %script{ src: "/js/app/factories/blog/Article.js" }
  %body
    .container
      = content

    - Dir["views/blog/js_partials/**/*.html.haml"].each do |path|
      - view = path.sub(/^views\/(.+)\.haml$/, '\1')
      %script{ type: "text/ng-template", id: "/#{view}" }
        = partial view
