.ei-editor
  .help.align-right
    %ul.list-inline
      %li{ ng: { click: "preview = !preview", class: "{active: preview}" } }
        %i.fa.fa-eye
        Markdown Preview
      %li{ ng: { click: "showHelp = !showHelp", class: "{active: showHelp}" } }
        %i.fa.fa-paragraph
        Markdown Help
  %div{ ng: { show: "preview" } }
    %ei-marked{ "to-convert" => "content", ng: { show: "preview" } }
  %div{ ng: { hide: "preview" } }
    %textarea.form-control{ ng: { model: "content", trim: "false" }, rows: "12", placeholder: "Article content" }

    .ei-markdown-help{ ng: { class: "{visible: true}", show: "showHelp" } }
      %h2 Markdown Help
      %h3 Headers
      %ul
        %li{ ng: { repeat: 'mdHeader in mdHeaders' } }
          %a.insert{ href: true, ng: { click: "insert(mdHeader)" } } insert
          {{mdHeader.syntax}}
