.page-header
  %h1 NEW ARTICLE
  %a{ href: "/admin/articles" } Go Back

%input.form-control{ ng: { model: "newArticle.title" }, type: "text", placeholder: "Article title" }
%br
%ei-article-editor{"content" => "newArticle.content"}
