.page-header
  %h1 NEW ARTICLE
  %a{ ui: { sref: "articles" } } Go Back

%input.form-control{ ng: { model: "newArticle.title" }, type: "text", placeholder: "Article title" }
%br
%textarea.form-control{ ng: { model: "newArticle.content" }, rows: "12", placeholder: "Article content" }
%br

%pre {{newArticle.content}}
