.articles-index
  .header
    .row
      .col-md-8
        %h1 ARTICLES
      .col-md-4
        .text-right
          %a.btn.btn-primary{ ui: { sref: "articles-new" } } New Article
  .row
    .col-md-3.col-md-offset-9
      .search

  .article{ ng: { repeat: "article in index.articles" } }
    .row
      .col-md-8
        %h3 {{article.title}}
        .date{ ng: { show: "article.published_at" } }
          {{article.published_at | date:'mediumDate'}}
        %span.label{ ng: { class: "{'label-success': article.published, 'label-default': !article.published }" } }
          {{article.published ? 'published' : 'draft'}}

      .col-md-4
        .text-right
          %a.btn.btn-sm.btn-default{ href: "", ui: { sref: "articles-edit({ id: article.id })" } }
            %i.fa.fa-edit
          %a.btn.btn-sm.btn-danger{ href: "", ng: { click: "index.remove($index)" } }
            %i.fa.fa-times
    %hr
