<form class='simple-form' name='articleForm' novalidate=''>
  <div class='row'>
    <div class='col-md-12'>
      <div class='page-header'>
        <h1>{{ new.article.title || "New Article" }}</h1>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-9'>
      <input class='form-control' ng-model='new.article.title' ng-required='true' placeholder='Article title' type='text'>
      <br>
      <ei-article-editor content='new.article.body' required='true'></ei-article-editor>
      <div class='checkbox'>
        <label>
          <input ng-model='new.article.published' type='checkbox'>
          Publish
        </label>
      </div>
      <hr>
      <ul class='list-inline'>
        <li>
          <button class='btn btn-success btn-lg' ng-click='new.save()' ng-disabled='articleForm.$invalid'>Save</button>
        </li>
        <li>
          <a href='/admin/articles'>Go Back</a>
        </li>
      </ul>
    </div>
    <div class='col-md-3'>
      <ei-tags tags='new.article.tags'></ei-tags>
    </div>
  </div>
</form>
