%form.simple-form{:novalidate => "", name: "articleForm"}
  .row
    .col-md-12
      .page-header
        %h1 {{ new.article.title || "New Article" }}
  .row
    .col-md-9
      %input.form-control{ ng: { model: "new.article.title", required: "true" }, type: "text", placeholder: "Article title" }
      %br
      %ei-article-editor{ content: "new.article.body", required: "true"}

      .checkbox
        %label
          %input{ type: 'checkbox', ng: { model: 'new.article.published' } }
          Publish

      %hr
      %ul.list-inline
        %li
          %button.btn.btn-success.btn-lg{ ng: { click: 'new.save()', disabled: "articleForm.$invalid" } } Save
        %li
          %a{ href: "/admin/articles" } Go Back


    .col-md-3
      %ei-tags{ tags: "new.article.tags" }
