.page-header
  %h1 {{ article.title}}
  %a{ href: "/admin/articles" } Go Back

%input.form-control{ ng: { model: "article.title" }, type: "text", placeholder: "Article title" }
%br
%ei-article-editor{ content: "article.body" }
%br
%input.form-control{ ng: { model: "article.tags" }, type: "text", placeholder: "tags" }
%br
%button.btn.btn-success{ ng: { click: 'save()' } } Save
