.page-header
  %h1 {{ article.title}}
  %a{ href: "/admin/articles" } Go Back

%input.form-control{ ng: { model: "article.title" }, type: "text", placeholder: "Article title" }
%br
%ei-article-editor{ content: "article.body" }
%br
%input.form-control{ ng: { model: "article.tags", list: true }, type: "text", placeholder: "Tags" }
%ul
  %li{ ng: { repeat: "tag in article.tags track by $index" } }
    {{tag}}

%br
%button.btn.btn-success{ ng: { click: 'save()' } } Save
