%h1 ARTICLES LIST
%a.btn.btn-primary{ ui: { sref: "articles-new" } } New Article
.article{ ng: { repeat: "article in articles" } }
  %h3 {{article.title}}
  %a.btn.btn-sm.btn-danger{ href: "", ng: { click: "remove($index)" } }
    %i.fa.fa-times
  %hr
