.articles-index
  .header
    .row
      .col-md-8
        %h1 ARTICLES LIST
      .col-md-4
        .text-right
          %a.btn.btn-primary{ ui: { sref: "articles-new" } } New Article
  .articles{ ng: { repeat: "article in articles" } }
    .row
      .col-md-8
        %h3 {{article.title}}
      .col-md-4
        .text-right
          %a.btn.btn-sm.btn-default{ href: "", ui: { sref: "articles-edit({ id: article.id })" } }
            %i.fa.fa-edit
          %a.btn.btn-sm.btn-danger{ href: "", ng: { click: "remove($index)" } }
            %i.fa.fa-times
    %hr
