<h1>Articles</h1>
<div ng-repeat='article in index.articles'>
  <h2>
    {{article.title}}
    <small>{{ article.published_at | date:'d/M/y' }}</small>
  </h2>
  <p>{{ article.body | limitTo:400 }}</p>
  <a href='' ui-sref='articles-show({ id: article.id })'>View more</a>
  <hr>
</div>
